* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid{
  display: grid;
  column-gap: 20px;
}
/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%; 
}

.grid-item img {
  display: block;
  width: 100%;
}
.grid-item.gallery img{
  width: 32.7%;
  height: 10%;
  display: inline-block;
  
}
.grid-item.two-pages img{
 
  width: 50%;
  height: 140px;
}
.grid-item.two-pages{
  display: flex;
  width: 33.333%;
}